.circle {
    background: conic-gradient(from 220deg, #FD648E 0deg, #884CB2 90deg, #FD648E);
    border-radius: 100%;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    border-radius: 100%;
    border: 7px solid #fff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlxrnIIB5prmdcu3ptBTDIu_yDJ_gyr0X-yA&usqp=CAU");
    width: 210px;
    height: 210px;
    background-size: cover;
    background-position: center;
  }